[submodule "lintoxic-fe"]
	path = lintoxic-fe
	url = https://github.com/Sak1012/lintoxic-fe.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Sak1012/lintoxic-fe.git
[submodule "backend"]
	path = backend
	url = https://github.com/grittypuffy/lintoxic-be.git
